$low1024: "only screen and (max-width: 1024px)";
$low400: "only screen and (max-width: 400px)";

$text-color: #212121;
$buttons-color: #FFEB3B;
$buttons-color-hover: #FBC02D;
$reviveBtn-color: #FF9800;
$reviveBtn-color-hover: #F57C00;

$range-color: #ffc107;
$thumb-color: #00BCD4;