@import "settings";

* {
	padding: 0;
	margin: 0;
}

body {
	color: $text-color;
	font-family: sans-serif;
}

.egg {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	// display: flex;
	width: 500px;
	height: 600px;
	background-color: #16a085;
	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
	border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
	text-align: center;
	-webkit-box-shadow: inset -12px -12px 0px -1px rgba(0,0,0,0.4);
	-moz-box-shadow: inset -12px -12px 0px -1px rgba(0,0,0,0.4);
	box-shadow: inset -12px -12px 0px -1px rgba(0,0,0,0.4);

	@media #{$low1024}{
		width: 400px;
		height: 500px;
	}
	@media #{$low400}{
		width: 300px;
		height: 400px;
	}
}

.screen {
	margin-top: 40px;
	width: 70%;
	height: 35%;
	background-color: rgba(255,255,255, 0.7);
	border-radius: 5px;
	-webkit-box-shadow: inset -5px -5px 0px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: inset -5px -5px 0px -1px rgba(0,0,0,0.6);
	box-shadow: inset -5px -5px 0px -1px rgba(0,0,0,0.6);

	.stats {
		display: flex;

		div {
			margin: 10px;
			display: inline-flex;
				@media #{$low400}{
					margin: 5px;
				}

			label {
				margin-right: 7px;
				@media #{$low400}{
					margin-right: 3px;
				}

			}
		}
	}
}

.animal{
	border-radius: 5px;
	width: 95%;
	height: auto;
	margin: 0 auto;
	background-color: rgba(255,255,255, 0.7);
	-webkit-box-shadow: inset -5px -5px 0px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: inset -5px -5px 0px -1px rgba(0,0,0,0.6);
	box-shadow: inset -5px -5px 0px -1px rgba(0,0,0,0.6);

	img{
		max-width: 130px;
		padding: 10px;

		@media #{$low1024}{
			max-width: 95px;
		}
		@media #{$low400}{
			max-width: 80px;
		}
	}
}

.buttons {
	// height: 80%;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	div {
		margin: 10px;
		button { 
			background-color: $buttons-color;
			margin: 5px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			border: 0;
			-webkit-box-shadow: 6px 6px 0px -5px rgba(0,0,0,0.75);
			-moz-box-shadow: 6px 6px 0px -5px rgba(0,0,0,0.75);
			box-shadow: 6px 6px 0px -5px rgba(0,0,0,0.75);
			font-size: 25px;
			@media #{$low400}{
				width: 50px;
				height: 50px;
				margin: 10px 0;
			}

			&:hover, &:focus {
				background-color: $buttons-color-hover;
			}
		}
	}
}

#revive {
	display: none;
	margin: 10px auto;
	padding: 20px 50px;
	background-color: $reviveBtn-color;	
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	&:hover{
		background-color: $reviveBtn-color-hover;
	}
}

//reset browser style on inputs and add custom

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.4px;
  cursor: default;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: $range-color;
  border-radius: 1.3px;
  border: 0px solid $text-color;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 1px solid #212121;
	height: 13px;
	width: 13px;
	border-radius: 3px;
	background: $thumb-color;
	cursor: default;
	-webkit-appearance: none;
	margin-top: -1.8px;
  	@media #{$low400}{
		width: 5px;
	}
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $range-color;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 9.4px;
  cursor: default;
  background: $range-color;
  border-radius: 1.3px;
  border: 0px solid $text-color;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #212121;
  height: 13px;
  width: 13px;
  border-radius: 3px;
  background: $thumb-color;
  cursor: default;
  	@media #{$low400}{
		width: 5px;
	}
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9.4px;
  cursor: default;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $range-color;
  border: 0px solid $text-color;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: $range-color;
  border: 0px solid $text-color;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  border: 1px solid $range-color;
  height: 13px;
  width: 13px;
  border-radius: 3px;
  background: $thumb-color;
  cursor: default;
  height: 9.4px;
  	@media #{$low400}{
		width: 5px;
	}
}
input[type=range]:focus::-ms-fill-lower {
  background: $range-color;
}
input[type=range]:focus::-ms-fill-upper {
  background: $range-color;
}
